
/*ÐžÐ±Ð½ÑƒÐ»ÐµÐ½Ð¸Ðµ*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
a {color: inherit;}
button {background-color: inherit;}
/*--------------------*/

body {
    font-family: "TT Lakes", sans-serif;
    color: #1b1c21;
    background-color: #f8f8f8;
    font-size: 16px;
    position: relative
}

@media(min-width: 1120px) {
    body {
        padding-left:320px
    }
}

.menu {
    border-bottom: #d9fff5 1px solid;
    padding: 18px 16px;
    background-color: #fff
}

@media(min-width: 768px),(orientation: landscape) {
    .menu {
        padding:18px 24px
    }
}

@media(min-width: 1120px) {
    .menu {
        display:none
    }
}

.menu__body {
    justify-content: space-between;
    align-items: center
}

.menu__dividor-container,.menu__item,.menu__body {
    display: flex
}

.menu__ic-tell,.menu__ic-chat,.menu__burgermenu,.menu__dividor-container {
    margin-right: 16px
}

.menu__logo,.menu__burgermenu,.menu__dividor {
    display: inline-block
}

.menu__item:nth-child(2) {
    display: none
}

@media(min-width: 768px),(orientation: landscape) {
    .menu__item:nth-child(2) {
        display:flex;
        justify-content: flex-start
    }

    .menu__item:nth-child(1) {
        display: flex;
        flex-grow: 1;
        margin-right: 20px
    }
}

.menu__dividor {
    width: 2px;
    min-height: 32px;
    background-color: #eaeaea;
    margin: 4px 20px 4px 20px;
    align-self: center
}

.menu__burgermenu {
    background-color: #fff
}

@media(min-width: 768px),(orientation: landscape) {
    .menu__burgermenu {
        margin-right:0
    }
}

.menu__dividor_hidden {
    display: none
}

@media(min-width: 768px),(orientation: landscape) {
    .menu__dividor_hidden {
        display:block
    }
}

.contact-button {
    display: flex
}

.main {
    position: relative
}

@media(min-width: 1120px) {
    .main {
        padding:42px 0
    }
}

@media(min-width: 1120px) {
    .main__header {
        display:flex
    }
}

.main__title {
    padding-top: 24px;
    line-height: 40px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.6px;
    position: relative;
    padding-left: 12px
}

.main__title::before {
    content: "";
    display: inline-block;
    width: 4px;
    min-height: 40px;
    position: absolute;
    left: 0;
    background-color: #41f6d7;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.25)
}

@media(min-width: 768px),(orientation: landscape) {
    .main__title {
        padding-left:20px
    }
}

@media(min-width: 1120px) {
    .main__title {
        padding-top:0;
        padding-left: 30px;
        flex-grow: 1
    }
}

.main__slide-menu {
    display: flex;
    overflow: auto;
    margin: 24px 5px 0 16px
}

.main__slide-menu::after {
    content: "";
    position: absolute;
    top: 88px;
    right: 0;
    width: 30px;
    min-height: 40px;
    background: #fff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(248, 248, 248) 65%);
    pointer-events: none
}

.main__slide-menu::before {
    content: "";
    position: absolute;
    top: 88px;
    left: -5px;
    width: 30px;
    min-height: 40px;
    background: #fff;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgb(248, 248, 248) 65%);
    pointer-events: none
}

@media(min-width: 768px),(orientation: landscape) {
    .main__slide-menu {
        margin:32px 24px
    }

    .main__slide-menu::after {
        top: 95px;
        width: 50px
    }

    .main__slide-menu::before {
        top: 95px;
        width: 45px
    }
}

@media(min-width: 1120px) {
    .main__slide-menu {
        display:flex;
        flex: 1 1 auto;
        flex-wrap: wrap;
        overflow: auto;
        margin: 8px 7px 0 25px
    }

    .main__slide-menu::after,.main__slide-menu::before {
        content: "";
        display: none
    }
}

.main__menu-item {
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.2px;
    color: #7e7e82;
    display: inline-block;
    min-height: 40px;
    white-space: nowrap;
    padding: 0 16px;
    border: #f8f8f8 2px solid;
    border-radius: 6px
}

.main__menu-item:focus,.main__menu-item:hover {
    border: #b8ffec 2px solid;
    border-radius: 6px;
    background-color: #fff
}

.main__info {
    display: block
}

.main__text {
    display: flex;
    flex-direction: column
}

@media(min-width: 768px),(orientation: landscape) {
    .main__text {
        display:block;
        padding: 32px 24px
    }

    .main__text::after {
        content: "";
        display: table;
        clear: both
    }
}

.main__text-item {
    padding: 24px 16px 0 16px;
    font-size: 14px;
    line-height: 18px;
}

@media(min-width: 768px),(orientation: landscape) {
    .main__text-item {
        padding:0
    }
}

.main__text-item:nth-child(2) {
    display: inline-block
}

@media(min-width: 768px) {
    .main__text-item:nth-child(2) {
        display:inline-block;
        max-width: 40%
    }
}

.main__text-item:nth-child(3) {
    display: none
}

@media(min-width: 768px),(orientation: landscape) {
    .main__text-item:nth-child(3) {
        display:inline-block;
        max-width: 40%;
        max-height: 36px;
        overflow: hidden
    }
}

@media(min-width: 1120px) {
    .main__text-item:nth-child(3) {
        max-height:initial
    }
}

.main__wrap {
    display: none
}

@media(min-width: 768px),(orientation: landscape) {
    .main__wrap {
        display:inline
    }
}

.main__picture {
    order: 1;
    width: 100%;
    display: block;
    margin-bottom: 24px
}

@media(min-width: 768px),(orientation: landscape) {
    .main__picture {
        float:right;
        order: 0;
        width: 50%;
        margin-left: 48px
    }
}

@media(min-width: 1120px) {
    .main__picture {
        margin-left:32px;
        margin-bottom: 32px
    }
}

.main__read-more {
    align-self: flex-start
}

.main__checkstatus {
    display: none
}

@media(min-width: 1120px) {
    .main__checkstatus {
        display:inline-block;
        margin-right: 32px;
        font-weight: 500;
        letter-spacing: -0.2px;
        font-size: 16px
    }

    .main__checkstatus::before {
        content: "Статус ремонта";
        line-height: 40px;
        margin-right: 10px;
        color: #1b1c21
    }
}

.main__repair {
    display: none
}

@media(min-width: 1120px) {
    .main__repair {
        display:inline-block;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.2px;
        margin-right: 32px
    }

    .main__repair::before {
        content: "Оставить заявку";
        line-height: 40px;
        margin-right: 10px;
        color: #1b1c21
    }
}

.read-more {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.2px;
    background: url("/img/expand.svg") no-repeat 0 50%;
    display: inline-block;
    margin: 16px
}

.read-more::before {
    content: "";
    margin-right: 26px
}

.hidden {
    display: none
}

button {
    transition: .2s ease .1s
}

@media(hover: hover) {
    button:hover {
        filter:grayscale(100%) opacity(70%);
        transition-delay: 0s
    }
}

a {
    transition: .2s ease-in-out
}

@media(hover: hover) {
    a:hover {
        filter:grayscale(100%) opacity(70%)
    }
}

.pink {
    color: #ff3e79
}

.burger-menu {
    position: fixed;
    top: 0;
    left: -320px;
    z-index: 10;
    transition: .5s ease;
    background: #fff;
    height: 100%
}

@media(min-width: 360px) {
    .burger-menu {
        left:-360px
    }
}

@media(min-width: 768px),(orientation: landscape) {
    .burger-menu {
        left:-320px
    }
}

@media(min-width: 1120px) {
    .burger-menu {
        display:block;
        position: absolute;
        left: -320px
    }
}

.burger-menu__body {
    width: 100vw;
    padding: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

@media(min-width: 360px) {
    .burger-menu__body {
        padding:24px;
        max-width: 360px
    }
}

@media(min-width: 768px),(orientation: landscape) {
    .burger-menu__body {
        padding:24px;
        width: 320px
    }
}

@media(min-width: 1120px) {
    .burger-menu__body {
        box-shadow:none
    }
}

.burger-menu__header {
    display: flex
}

.burger-menu__back {
    margin-right: 16px
}

@media(min-width: 1120px) {
    .burger-menu__back {
        display:none
    }
}

.burger-menu__logo {
    flex-grow: 1
}

.burger-menu__main {
    flex-grow: 1;
    margin-top: 53px;
    display: flex;
    flex-direction: column
}

.burger-menu__item {
    margin-top: 24px;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    position: relative;
    flex-wrap: wrap;
    transition: .3s ease-in-out
}

@media(min-width: 768px),(orientation: landscape) {
    .burger-menu__item {
        margin-top:32px
    }
}

.burger-menu__item:nth-child(1) {
    margin-top: 0
}

.burger-menu__item:focus {
    color: #7e7e82
}

.burger-menu__item:focus::before {
    content: "";
    width: 4px;
    height: 32px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #41f6d7;
    position: absolute;
    left: -16px;
    top: -4px
}

@media(min-width: 360px) {
    .burger-menu__item:focus::before {
        left:-24px
    }
}

@media(hover: hover) {
    .burger-menu__item:hover {
        transform:translateX(24px) scale(1.1)
    }

    .burger-menu__item:hover::before {
        content: "";
        width: 4px;
        height: 32px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #6b7b84;
        position: absolute;
        left: -16px;
        top: -4px;
        box-shadow: 4px 4px 8px 0 rgba(34,60,80,.2)
    }
}

@media(hover: hover)and (min-width: 360px) {
    .burger-menu__item:hover::before {
        left:-24px
    }
}

.burger-menu__footer {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto
}

.burger-menu__element:nth-child(2) {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-top: 16px
}

.burger-menu__element:nth-child(3) {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.6px;
    font-weight: 700;
    margin-top: 12px
}

.burger-menu__element:nth-child(4) {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-top: 8px
}

@media(min-width: 768px),(orientation: landscape) {
    .burger-menu__element:nth-child(4) {
        margin-top:40px
    }
}

.burger-menu__lang {
    margin-right: 7px
}

.title {
    padding: 16px;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7e7e82;
    border-top: #d9fff5 1px solid
}

@media(min-width: 768px),(orientation: landscape) {
    .title {
        padding:16px 24px
    }
}

@media(min-width: 1120px) {
    .title {
        padding:16px 32px
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column
}

.swiper-container {
    padding: 16px 0 16px 16px;
    height: 132px;
    position: relative
}

.swiper-container::part(bullet-active) {
    background-color: #b5b6bc;
    height: 12px;
    width: 12px
}

.swiper-container::part(bullet) {
    background-color: #ddd;
    opacity: 1;
    height: 12px;
    width: 12px
}

.swiper-container::part(pagination) {
    bottom: 0;
    line-height: 12px
}

.swiper-container::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 80px;
    right: 0;
    top: 10px;
    z-index: 1;
    background: linear-gradient(270deg, rgb(255, 255, 255) 16.84%, rgba(248, 248, 248, 0.0001) 100%)
}

@media(min-width: 768px),(orientation: landscape) {
    .swiper-container {
        display:none
    }
}

.swiper-slide {
    width: 240px;
    height: 72px;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    display: flex;
    justify-content: space-between
}

.swiper-slide img {
    max-width: 128px;
    -o-object-fit: contain;
    object-fit: contain
}

.cards__container {
    margin: 0 auto;
    max-width: 768px;
    padding: 24px;
    display: none
}

@media(min-width: 768px),(orientation: landscape) {
    .cards__container {
        display:block
    }
}

@media(min-width: 1350px) {
    .cards__container {
        max-width:1016px
    }
}

@media(min-width: 1440px) {
    .cards__container {
        padding:24px 32px;
        max-width: 1120px
    }
}

.cards__main {
    display: flex;
    gap: 16px 24px;
    flex-wrap: wrap
}

@media(min-width: 1440px) {
    .cards__main {
        gap:16px 32px
    }
}

.cards__item {
    width: 224px;
    height: 72px;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    display: flex;
    justify-content: space-between
}

@media(min-width: 1440px) {
    .cards__item {
        width:240px
    }
}

.cards__item img {
    max-width: 128px;
    -o-object-fit: contain;
    object-fit: contain
}

.cards__read-more {
    display: none
}

@media(min-width: 768px),(orientation: landscape) {
    .cards__read-more {
        display:inline-block;
        margin: 24px 0 0 0
    }
}

.cards__text {
    font-size: 16px;
    letter-spacing: -0.2px;
    font-weight: 500;
    line-height: 18px
}

.cards__text_grey {
    color: #7e7e82
}

.cards-tech__item {
    height: 160px
}

.cards-tech__item a {
    align-self: flex-end
}

.cards-tech__swiper-container {
    height: 220px
}

.cards-tech__swiper-container::after {
    content: "";
    height: 175px
}

.cards-tech__swiper-slide {
    height: 160px
}

.cards-tech__swiper-slide a {
    align-self: flex-end
}

.cards-price__swiper-container {
    height: 260px
}

.cards-price__swiper-container::after {
    content: "";
    height: 210px
}

.cards-price__swiper-slide {
    border: none;
    flex-direction: column;
    height: 200px;
    width: 260px
}

.cards-price__text_swiper {
    display: flex;
    justify-content: space-between;
    font-size: 14px
}

.cards-price__text_swiper a {
    align-self: center
}

.cards-price__container {
    max-width: initial
}

.cards-price__main {
    flex-direction: column;
    gap: 0
}

.cards-price__item {
    display: flex;
    border: none;
    border-radius: 0;
    align-items: center;
    width: 100%;
    position: relative
}

.cards-price__item::after {
    content: "";
    position: absolute;
    width: 95%;
    height: 1px;
    top: 62px;
    background-color: #f8f8f8
}

.cards-price__item:nth-child(1) {
    background: initial;
    color: #7e7e82;
    flex-grow: 0
}

.cards-price__item:nth-child(2) {
    border-radius: 5px 5px 0 0
}

.cards-price__item:last-child {
    border-radius: 0 0 5px 5px
}

.cards-price__item:last-child::after {
    content: "";
    display: none
}

.cards-price__item p:nth-child(1) {
    width: 50%
}

.cards-price__item p:nth-child(2) {
    width: 15%
}

.cards-price__item p:nth-child(3) {
    width: 15%;
    flex-grow: 1
}

.cards-price__item p:nth-child(4) {
    width: 20%
}

.cards-price__footer {
    padding: 0 24px;
    max-width: 502px;
    margin-bottom: 40px
}

@media(min-width: 768px),(orientation: landscape) {
    .cards-price__footer {
        margin-bottom:50px
    }
}

.cards-price__text-footer {
    line-height: 20px;
    letter-spacing: -0.2px;
    margin-bottom: 16px
}

.cards-price__link-footer {
    font-size: 16px;
    font-weight: 500
}

.cards-price__link-footer img {
    position: relative;
    left: 5px;
    top: 3px
}

.footer {
    border-top: 1px solid #d9fff5
}

.footer__container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center
}

@media(min-width: 768px),(orientation: landscape) {
    .footer__container {
        padding:24px;
        flex-direction: row;
        justify-content: space-between
    }
}

.footer__text {
    font-size: 14px;
    color: #7e7e82;
    line-height: 16px;
    text-align: center;
    margin-bottom: 16px
}

@media(min-width: 768px) {
    .footer__text {
        text-align:left;
        margin-bottom: 0
    }
}

.footer__text:nth-child(2) {
    text-align: center;
    width: 35%
}

.footer__text:last-child {
    margin-bottom: 0
}

@media(min-width: 768px) {
    .footer__text:last-child {
        margin-right:0;
        text-align: right;
        width: 30%
    }
}

.modal {
    height: 100%;
    background: #fff;
    z-index: 12;
    position: fixed;
    top: 0;
    right: -100vw;
    transition: .5s ease
}

@media(min-width: 768px) {
    .modal {
        border-left:1px solid #d9fff5
    }
}

.modal__body {
    padding: 24px 16px;
    width: 100vw
}

@media(min-width: 440px) {
    .modal__body {
        width:440px
    }
}

@media(min-width: 768px),(orientation: landscape) {
    .modal__body {
        width:440px;
        padding: 40px 32px
    }
}

.modal__back {
    margin-bottom: 40px
}

@media(min-width: 768px),(orientation: landscape) {
    .modal__back {
        position:absolute;
        left: -64px
    }
}

.modal__title {
    font-size: 24px;
    letter-spacing: -0.6px;
    line-height: 40px;
    position: relative;
    font-weight: 700;
    margin-bottom: 24px
}

.modal__title::before {
    content: "";
    background-color: #41f6d7;
    height: 40px;
    width: 4px;
    border-radius: 0 4px 4px 0;
    position: absolute;
    left: -16px
}

@media(min-width: 768px),(orientation: landscape) {
    .modal__title::before {
        left:-32px
    }
}

.modal__form {
    display: flex;
    flex-direction: column
}

.modal__item {
    margin-bottom: 16px;
    line-height: 18px
}

.modal__item input,.modal__item textarea {
    height: 48px;
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 7px;
    padding-left: 16px
}

.modal__item input::-moz-placeholder, .modal__item textarea::-moz-placeholder {
    color: #b5b6bc
}

.modal__item input::placeholder,.modal__item textarea::placeholder {
    color: #b5b6bc
}

.modal__item_big textarea {
    height: 118px;
    padding: 16px
}

.modal__text {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 16px
}

.modal__btn {
    align-self: flex-end;
    margin-bottom: 50px
}

.botton-pink {
    width: 119px;
    height: 32px;
    line-height: 32px;
    display: flex;
    justify-content: space-between;
    background-color: #ff3e79;
    border-radius: 16px;
    padding-left: 12px;
    color: #fff;
    font-size: 12px;
    letter-spacing: -0.15px;
    font-weight: 500;
    text-transform: uppercase
}

.botton-pink_big {
    width: 136px
}

.botton-pink_big img {
    align-self: center
}

.blur {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 9;
    background: #fff;
    opacity: .9;
    display: none
}

@media(min-width: 1120px) {
    .blur {
        left:0
    }
}

.blur_modal {
    z-index: 11
}











